.teaser{
  width: 30%;
  display: inline-block;
  margin: 20px 1.66%;
  .image-container{
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .event-category:after{
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: yellow;
      opacity: 0.5;
    }
  }
}