.teaser{
  width: 30%;
  height: 510px;
  float: left;
  margin: 20px 1.66%;
  box-shadow: 0px 0px 20px -9px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px $bpnLightGray;
  }
  .image-container{
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .event-category:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-color: yellow;
      opacity: 0.5;
    }
  }
  figcaption{
    padding: 1em;
    h2{
      margin-bottom: 0;
    }
  }
  i{
    margin-right: 0.4em;
    color: $bpnParagraph;
  }
  .event-price{
    display: inline-block;
    float: right;
  }
}

.article-details{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  overflow-y: scroll;
  float: left;
  img{
    position: relative;
    width: 50%;
    float: left;
  }
  .close-content-btn{
    position: fixed;
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    z-index: 10;
    cursor: pointer;
  }
  .article-copy{
    width: 45%;
    margin-left: 1.5em;
    float: left;
    display: inline-block;
    color: $bpnParagraph;
    p{
      word-wrap: break-word;
    }
  }
  .image-copy-container{
    margin-bottom: 1em;
  }
  .photo-gallery-teaser{
    width: 160px;
    float: right;
    img{
      float: none;
      width: 100%;
    }
  }
  .post-logistics{
    display: inline-block;
    width: 50%;
    p{
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .post-date{

    }
    .post-address{

    }
  }
  .social-share{
    margin-top: 2em;
    width: 100%;
    height: 50px;
    background-color: tan;
  }
  .close-details{
    margin: 2em 0;
    padding: 1em 0;
    border-top: 1px solid $bpnBlue;
    border-bottom: 1px solid $bpnBlue;
    color: $bpnBlue;
    text-align: center;
  }
}

figure.open-up {
  display: block !important;
  // position: fixed;
  max-width: none;
  max-height: none;
  margin: 0;
  z-index: 100;
  img{
    position: relative;
    right: -100px;
  }
  figcaption{
    opacity: 0;
  }

}