.events-container{
  @include flex();
}
#filter-nav{
  position: relative;
  top: 0;
  height: 100%;
  min-width: 200px;
  width: 18%;
  background-color: $bpnDarkBlue;
  li{
    display: block;
    padding: 10px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
}