.register{
  padding: 1em;
  display: table;
  margin: 40px auto 0 auto;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  color: $bpnBlue;
  text-shadow: none;
  &:after{
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    top: 50%;
    border: 5px solid rgb(144, 195, 224);
    height: 80%;
    background-color: white;
    outline: solid #007ab9 5px;
    outline-offset: 0px;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.5s;
  }
}

.btn-cta{
  position: relative;
  margin: 2em auto 0 auto;
  text-transform: uppercase;
  display: table;
  padding: 1em 2em;
  outline: solid 3px white;
  outline-offset: 2px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.43);
  cursor: pointer;
  &:hover{
    background-color: $bpnBlue;
  }
}

.center-copy{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  @include bpn-sans(100);
}

.register:hover{
  color: $bpnBlue;
  text-shadow: none;
  &:after{
    background-color: white;
    outline: solid transparent 5px;
    border: 5px solid $bpnBlue;
  }
}

.section-title{
  position: relative;
  margin: 30px auto 0 auto;
  font-size: 4em;
  color: white;
  text-shadow: 0px 0px 14px white;
}

#welcome-frame{
  video{
    width: 100%;
  }
}

#about-frame{
  padding: 1em;
  background-color: white;
  position: relative;
  margin-top: -10px;
  box-shadow: 0px -6px 30px #4a4a4a;
  h2,h3{
    text-align: center;
  }
  h3{
    color: $bpnBlue;
  }
}

#experience-frame{
  background-image: url('site/assets/images/lake-merrit.jpg');
  background-size: cover;
}

#events-frame{
  background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/eventsBg.jpg');
  background-attachment: fixed;
  padding: 2.5em 0;
  @include clearfix();
  .hp-events-teaser{
    width: 22.7%;
    margin: 1em 1%;
    display: inline-block;
    float: left;
    box-shadow: -2px 3px 6px 0px #4a4a4a;
    .category{
      width: 100%;
      height: 60px;
      border-radius: 3px 3px 0px 0px;
    }
    .image-container{
      // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 74%, 59% 74%, 44% 100%, 44% 74%, 0% 74%, 0% 100%);
      // -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 74%, 59% 74%, 44% 100%, 44% 74%, 0% 74%, 0% 100%);
      height: 250px;
      background-size: cover;
      border-radius: 0px 0px 3px 3px;
    }
    // the varying catagories
    &--category1{
      .category{
        background-color: $bpnTan;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/art-and-culture-nights.jpg');
      }
    }
    &--category2{
      .category{
        background-color: $bpnGreen;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/dinner-and-cocktail-parties.jpg');
      }
    }
    &--category3{
      .category{
        background-color: $bpnOrange;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/discussion-and-speaker-events.jpg');
      }
    }
    &--category4{
      .category{
        background-color: $bpnGray;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/film-screening.jpg');
      }
    }
    &--category5{
      .category{
        background-color: $bpnYellow;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/health.jpg');
      }
    }
    &--category6{
      .category{
        background-color: $bpnPurple;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/travel.jpg');
      }
    }
    &--category7{
      .category{
        background-color: $bpnDarkBrown;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/theatre-and-musical-performance.jpg');
      }
    }
    &--category8{
      .category{
        background-color: $bpnLightBlue;
      }
      .image-container{
        background-image: url('/lab/Pylon-Innovation/websites/BPN/www/site/assets/images/events/outdoor.jpg');
      }
    }
  } //hp-events-teaser
}

#news-frame{
  padding: 2em 0;
}

#gallery-frame{
  height: 610px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(20deg, #ffffff, #b5c6c5);
  .photo-gallery-title{
    font-size: 4em;
    display: block;
    position: relative;
    float: right;
    margin-right: 5%;
    top: 5%;
  }
}

