// white page loading effect
body:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0%;
  z-index: 1000;
  animation: loadIn 1s forwards;
}

// make an exception for the home page
body.wipe-off:before{
  opacity: 0;
}

// white page loadOut effect
body.load-out:before{
  opacity: 1;
  animation: loadOut 0.6s forwards;
}

// Push content down to make space for the nav bar
// .events-container,
// #home-pg{
//   top: 90px;
// }

.admin-edit{
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  color: $bpnBlue;
  text-decoration: none;
  padding: 5px;
  background-color: black;
}
.bounding-container{
  max-width: $bounding-container;
  margin: 0 auto;
  @include clearfix();
}

.copy-container{
  max-width: $copy-container;
  margin: 0 auto
}

/*
Animation
*/

@keyframes loadIn{
  0%{
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    left: 0%;
  }
  50%{
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
  100%{
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    left: 100%;
  }
}

@keyframes loadOut{
  0%{
    background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    left: -100%;
  }
  100%{
    background: -moz-linear-gradient(right,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    left: 0%;
  }
}