// colors
  //global colors
  $pageBG: #efefef;
  $navBG: #f7f7f7;
  $bpnBlue: #097ABB;
  $bpnDarkBlue: #383C3E;
  $bpnPaleGray: #efefef;
  $bpnLightGray: #d6d6d6;
  $bpnParagraph: #333;
  $bpnGrayBlue: #d0d7dc;
  $eventsElementShadow: #c3c3c3;
  // events colors
  $bpnTan: #b8a386;
  $bpnGreen: #79c189;
  $bpnOrange: #CC7722;
  $bpnGray: #c1c1c1;
  $bpnYellow: #CFB53B;
  $bpnPurple: #7480c1;
  $bpnDarkBrown: #332125; 
  $bpnLightBlue: #27b5dd;


// layout
$bounding-container: 1300px;
$copy-container: 800px;

//fonts
$bpnSans: 'Source Sans Pro', sans-serif;

// mixins
@mixin bpn-sans($font-weight) {
  font-family: $bpnSans;
  font-weight: $font-weight;
}
@mixin flex() {
  display: -webkit-flex;
  display: flex;
}
@mixin clearfix() {
  overflow: auto;
  zoom: 1;
}
@mixin filter($value){
  -ie-filter: $value;
  -moz-filter: $value;
  -webkit-filter: $value;
  filter: $value;
}