// colors
$pageBG: #efefef;
$navBG: #f7f7f7;
$bpnBlue: #097ABB;
$bpnDarkBlue: #383C3E;

// layout
$bounding-container: 1300px;
$copy-container: 800px;


// mixins
@mixin flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin clearfix() {
  overflow: auto;
  zoom: 1;
}