.intro-cover{
  height: 100%;
  width: 100%;
  z-index: 11;
  position: fixed;
  top: 0;
  background: #efefef;
}
.intro{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 11;
  top: 0;
  &__content{
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 330px;
    display: table;
    left: 50%;
    top: 50%;
    &__bpn-logo{  
      transform: translateY(5.5px);
      animation: logoIn 1.8s forwards;
      text-align: center;
    }
    &__loader{
      position: absolute;
      margin: 0 auto;
      width: 300px;
      height: 300px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }
  }
}

.slogan{
  position: absolute;
  text-align: center;
  color: white;
  opacity: 0;
  text-shadow: 0px 0px 10px #565656;
  color: white;
}

#home-pg{
  position: relative;
}

#nav-menu{
  opacity: 0;
  visibility: hidden;
}

.bar, .orbit{
  position: absolute;
  margin: 0 auto;
  width: 270px;
  height: 270px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid white;
  transform-origin: 50% 50%;
  background: transparent;
  opacity: 0.9;
  transition: 2s;
  z-index: 2;
}

.orbit:after{
  content: " ";
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 1px solid #D0D0D0;
  border-radius: 50%;
}

.rotate-loader{
  -webkit-clip-path: polygon(65% 79%, 85% 100%, 17% 100%, 37% 79%);
  transform: rotate(0deg);
  border-color: #097ABB;
  left: 0;
  top: 0px;
  z-index: 3;
  animation: rotateLoader 1.5s 0s linear infinite;
}

// animate the Intro logo in
@keyframes logoIn{
  0% {top: 51%; opacity: 0}
  100% {top: 50%; opacity: 1}
}

@keyframes rotateLoader{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
