body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0%;
  z-index: 1000;
  animation: loadIn 1s forwards;
}

body.wipe-off:before {
  opacity: 0;
}

body.load-out:before {
  opacity: 1;
  animation: loadOut 0.6s forwards;
}

.admin-edit {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  color: #097ABB;
  text-decoration: none;
  padding: 5px;
  background-color: black;
}

.bounding-container {
  max-width: 1300px;
  margin: 0 auto;
}

.copy-container {
  max-width: 800px;
  margin: 0 auto;
}

/*
Animation
*/
@keyframes loadIn {
  0% {
    background: -moz-linear-gradient(left, white 0%, white 29%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, white 0%, white 29%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, white 0%, white 29%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */
    left: 0%;
  }
  50% {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 29%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 29%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 29%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */
  }
  100% {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 29%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 29%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 29%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */
    left: 100%;
  }
}
@keyframes loadOut {
  0% {
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 29%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 29%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 29%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */
    left: -100%;
  }
  100% {
    background: -moz-linear-gradient(right, white 0%, white 29%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(right, white 0%, white 29%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, white 0%, white 29%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */
    left: 0%;
  }
}
#filter-nav {
  position: relative;
  top: 0;
  display: block;
  height: 40px;
  width: 100%;
  background-color: #097ABB;
}
#filter-nav li {
  display: inline-block;
  padding: 10px 10px;
  position: relative;
  color: white;
}

.teaser {
  width: 30%;
  display: inline-block;
  margin: 20px 1.66%;
}
.teaser .image-container {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
}
.teaser .image-container img {
  width: 100%;
}
.teaser .image-container .event-category:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: yellow;
  opacity: 0.5;
}

#map {
  height: 400px;
  width: 50%;
}

/*# sourceMappingURL=events.css.map */
