/* Icons (made with Icomoon.io) */
@font-face {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/feather/feather.eot?1gafuo");
  src: url("../fonts/feather/feather.eot?1gafuo#iefix") format("embedded-opentype"), url("../fonts/feather/feather.woff2?1gafuo") format("woff2"), url("../fonts/feather/feather.ttf?1gafuo") format("truetype"), url("../fonts/feather/feather.woff?1gafuo") format("woff"), url("../fonts/feather/feather.svg?1gafuo#feather") format("svg");
}
.icon {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon--arrow-left:before {
  content: '\e901';
}

.icon--menu:before {
  content: '\e903';
}

.icon--cross:before {
  content: '\e117';
}

.content {
  position: relative;
  min-height: 300px;
  margin: 0 0 0 300px;
}
.content .filter-items {
  margin: 0;
  padding: 2em;
  text-align: center;
}
.content .filter-items .filter-item {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  background: #1c1d22;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 120px;
  left: 0;
  width: 300px;
  height: calc(100vh - 120px);
  background: #1c1d22;
}

.menu__wrap {
  position: absolute;
  top: 3.5em;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.menu__level {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100% + 50px);
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__level--current {
  visibility: visible;
}

.menu__item {
  display: block;
  width: calc(100% - 50px);
}

.menu__link {
  font-weight: 600;
  position: relative;
  display: block;
  padding: 1em 2.5em 1em 1.5em;
  color: #bdbdbd;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.menu__link[data-submenu]::after {
  content: '\e904';
  font-family: 'feather';
  position: absolute;
  right: 0;
  padding: 0.25em 1.25em;
  color: #2a2b30;
}

.menu__link:hover,
.menu__link[data-submenu]:hover::after {
  color: #5c5edc;
}

.menu__link--current::before {
  content: '\00B7';
  font-size: 1.5em;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0.5em;
  height: 4px;
  color: #5c5edc;
}

[class^='animate-'],
[class*=' animate-'] {
  visibility: visible;
}

.animate-outToRight .menu__item {
  -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes outToRight {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.animate-outToLeft .menu__item {
  -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes outToLeft {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.animate-inFromLeft .menu__item {
  -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes inFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate-inFromRight .menu__item {
  -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes inFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.menu__breadcrumbs {
  font-size: 0.65em;
  line-height: 1;
  position: relative;
  padding: 2.5em 3.75em 1.5em 2.5em;
}

.menu__breadcrumbs a {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5c5edc;
}

.menu__breadcrumbs a:last-child {
  pointer-events: none;
}

.menu__breadcrumbs a:hover {
  color: #8182e0;
}

.menu__breadcrumbs a:not(:last-child)::after {
  content: '\e902';
  font-family: 'feather';
  display: inline-block;
  padding: 0 0.5em;
  color: #33353e;
}

.menu__breadcrumbs a:not(:last-child):hover::after {
  color: #33353e;
}

.menu__back {
  font-size: 1.05em;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 2.25em;
  margin: 0;
  padding: 1.365em 0.65em 0 0;
  cursor: pointer;
  color: #2a2b30;
  border: none;
  background: none;
}

.menu__back--hidden {
  pointer-events: none;
  opacity: 0;
}

.menu__back:hover,
.menu__back:focus {
  color: #fff;
  outline: none;
}

/* Open and close buttons */
.action {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.action:focus {
  outline: none;
}

.action--open {
  font-size: 1.5em;
  top: 1em;
  left: 1em;
  display: none;
  color: #fff;
  position: fixed;
  z-index: 1000;
}

.action--close {
  font-size: 1.1em;
  top: 1.25em;
  right: 1em;
  display: none;
  color: #45464e;
}

@media screen and (max-width: 40em) {
  .action--open,
  .action--close {
    display: block;
  }

  .menu {
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .menu--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* Helper classes */
html,
body {
  overflow: hidden;
  height: 100%;
}

/*.container {
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}*/
.noscroll .container {
  overflow-y: hidden;
}

.slider {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 7em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.slide {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

.slide--current {
  position: relative;
  z-index: 100;
  visibility: visible;
  opacity: 1;
}

.slide__mover {
  position: relative;
  z-index: 100;
}

.slide__title {
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 auto;
  padding: 1em 0 0 0;
}

.slide__title span {
  font-size: 55%;
  font-weight: bold;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #35303d;
}

.slider__nav {
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 1.31em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 25px;
  padding: 0;
  cursor: pointer;
  color: #5c5edc;
  border: none;
  background: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #fff;
}

.text-hidden {
  position: absolute;
  top: 200%;
}

.button--close {
  font-size: 1.55em;
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  opacity: 0;
  color: #50505a;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.content--open .button--close {
  opacity: 1;
}

/* Zoomer */
.zoomer {
  position: relative;
  height: 360px;
  /* this is needed for IE10 so that vertical flexbox centering works */
}

.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.zoomer__image {
  display: block;
  margin: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.zoomer__area,
.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.zoomer__area:focus {
  outline: none;
}

.zoomer__area--size-1 {
  /* Apple Watch */
  width: 96px;
  height: 118px;
}

.zoomer__area--size-2 {
  /* iPhone */
  width: 112px;
  height: 198px;
}

.zoomer__area--size-3 {
  /* MacBook */
  width: 315px;
  height: 200px;
}

.zoomer__area--size-4 {
  /* iPad */
  width: 150px;
  height: 200px;
}

.zoomer__area--size-5 {
  /* iMac */
  width: 315px;
  height: 189px;
}

.preview {
  overflow: hidden;
  background: #18191b;
}

.preview img {
  display: block;
  border-radius: inherit;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.zoomer--active .preview img {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.rounded {
  border-radius: 15px;
}

.rounded-right {
  border-radius: 0 15px 15px 0;
}

.preview__content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* Content */
/*.content {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -100%;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
	background: #18191b;
	-webkit-overflow-scrolling: touch;
}*/
.content--open {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #18191b;
}

.content__item {
  position: absolute;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em 0;
  pointer-events: none;
  opacity: 0;
  color: #fff;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__item--current {
  pointer-events: auto;
  opacity: 1;
}

.content__item--reset {
  height: auto;
}

.content h2 {
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
}

.content h3 {
  font-size: 1.95em;
  font-weight: normal;
  margin: 0.25em 0 0.5em;
  color: #685884;
}

.content p {
  font-size: 1.25em;
  line-height: 1.5;
}

.content__item-img {
  display: block;
  max-width: 40vw;
  max-height: 80vh;
  -webkit-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.content__item--current .content__item-img {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

.content__item-inner {
  padding: 0 10vw 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

.content__item--current .content__item-inner {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/**************************/
/* All synced transitions */
/**************************/
.zoomer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.zoomer.zoomer--notrans {
  -webkit-transition: none;
  transition: none;
}

.zoomer__image {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.zoomer--active .zoomer__image {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.preview img {
  -webkit-transition: -webkit-transform 0.6s 0.3s;
  transition: transform 0.6s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.zoomer--active .preview img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.content {
  -webkit-transition: left 0s;
  transition: left 0s;
}

.content__item {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.content,
.content__item {
  /* delay for content to disappear and zoomer to start transitioning back to 0 */
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.content--open,
.content__item--current {
  -webkit-transition: none;
  transition: none;
}

.content__item-img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.8, 1);
  transition-timing-function: cubic-bezier(0.7, 1, 0.8, 1);
}

.content__item--current .content__item-img {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.content__item-inner {
  -webkit-transition: -webkit-transform 0.6s, opacity 0.3s;
  transition: transform 0.6s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.8, 1), ease;
  transition-timing-function: cubic-bezier(0.7, 1, 0.8, 1), ease;
}

.content__item--current .content__item-inner {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1), ease;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1), ease;
  -webkit-transition-duration: 1.7s;
  transition-duration: 1.7s;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  .content__item {
    display: block;
  }

  .content__item-img {
    max-width: calc(100% - 80px);
    max-height: 70vh;
  }

  .content h2 {
    font-size: 3em;
  }

  .content__item-inner {
    font-size: 82%;
    padding: 4em 3em 2em;
  }
}

/*# sourceMappingURL=events.css.map */
