.register {
  padding: 1em;
  display: table;
  margin: 40px auto 0 auto;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  color: #097ABB;
  text-shadow: none;
}
.register:after {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 1;
  top: 50%;
  border: 5px solid #90c3e0;
  height: 80%;
  background-color: white;
  outline: solid #007ab9 5px;
  outline-offset: 0px;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.5s;
}

.btn-cta {
  position: relative;
  margin: 2em auto 0 auto;
  text-transform: uppercase;
  display: table;
  padding: 0.6em 2em;
  outline: solid 3px white;
  outline-offset: 2px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.43);
  cursor: pointer;
}
.btn-cta:hover {
  background-color: #097ABB;
}

h2, h3 {
  text-align: center;
  margin: 0;
}

h3 {
  color: #097ABB;
}

.center-copy {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

.register:hover {
  color: #097ABB;
  text-shadow: none;
}
.register:hover:after {
  background-color: white;
  outline: solid transparent 5px;
  border: 5px solid #097ABB;
}

.section-title {
  position: relative;
  margin: 30px auto 0 auto;
  font-size: 4em;
  color: white;
  text-shadow: 0px 0px 14px white;
}

.slogan h3 {
  color: white;
}

#welcome-frame video {
  width: 100%;
}

#about-frame {
  padding: 4.5em 0;
  background-color: white;
  position: relative;
  margin-top: -10px;
  box-shadow: 0px -6px 30px #4a4a4a;
}

#events-frame {
  background-image: url("../../assets/images/eventsBg.jpg");
  background-attachment: fixed;
  padding: 6em 0 6em 0;
  overflow: auto;
  zoom: 1;
}
#events-frame .hp-events-teaser {
  width: 22.7%;
  margin: 1em 1%;
  display: inline-block;
  float: left;
  box-shadow: -2px 3px 6px 0px #4a4a4a;
}
#events-frame .hp-events-teaser .category {
  width: 100%;
  height: 60px;
  border-radius: 3px 3px 0px 0px;
}
#events-frame .hp-events-teaser .image-container {
  height: 250px;
  background-size: cover;
  border-radius: 0px 0px 3px 3px;
}
#events-frame .hp-events-teaser--category1 .category {
  background-color: #b8a386;
}
#events-frame .hp-events-teaser--category1 .image-container {
  background-image: url("../../assets/images/events/art-and-culture-nights.jpg");
}
#events-frame .hp-events-teaser--category2 .category {
  background-color: #79c189;
}
#events-frame .hp-events-teaser--category2 .image-container {
  background-image: url("../../assets/images/events/dinner-and-cocktail-parties.jpg");
}
#events-frame .hp-events-teaser--category3 .category {
  background-color: #CC7722;
}
#events-frame .hp-events-teaser--category3 .image-container {
  background-image: url("../../assets/images/events/discussion-and-speaker-events.jpg");
}
#events-frame .hp-events-teaser--category4 .category {
  background-color: #c1c1c1;
}
#events-frame .hp-events-teaser--category4 .image-container {
  background-image: url("../../assets/images/events/film-screening.jpg");
}
#events-frame .hp-events-teaser--category5 .category {
  background-color: #CFB53B;
}
#events-frame .hp-events-teaser--category5 .image-container {
  background-image: url("../../assets/images/events/health.jpg");
}
#events-frame .hp-events-teaser--category6 .category {
  background-color: #7480c1;
}
#events-frame .hp-events-teaser--category6 .image-container {
  background-image: url("../../assets/images/events/travel.jpg");
}
#events-frame .hp-events-teaser--category7 .category {
  background-color: #332125;
}
#events-frame .hp-events-teaser--category7 .image-container {
  background-image: url("../../assets/images/events/theatre-and-musical-performance.jpg");
}
#events-frame .hp-events-teaser--category8 .category {
  background-color: #27b5dd;
}
#events-frame .hp-events-teaser--category8 .image-container {
  background-image: url("../../assets/images/events/outdoor.jpg");
}

#news-frame {
  padding: 2em 0;
}

#gallery-frame {
  height: 610px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(20deg, #ffffff, #b5c6c5);
}
#gallery-frame .photo-gallery-info {
  display: block;
  position: relative;
  float: right;
  margin-right: 5%;
  top: 5%;
}
#gallery-frame .photo-gallery-title {
  font-size: 4em;
}

#contact-frame {
  padding: 0;
  background-color: #efefef;
}
#contact-frame .social-icons-grid {
  display: table;
}
#contact-frame .social-icons-grid a {
  display: inline-block;
  width: 25%;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 6px solid transparent;
}
#contact-frame .social-icons-grid a:hover {
  opacity: 0.5;
  border-bottom: 6px solid #3e3e3e;
}
#contact-frame .social-icons-grid img {
  width: 100%;
}
#contact-frame .copy-container {
  margin-top: -70px;
  background-color: white;
  z-index: 2;
  position: relative;
  box-shadow: 0px 5px 13px #717171;
}
#contact-frame .copy-container h2 {
  display: block;
  position: relative;
  top: 0;
  background-color: #d0d7dc;
  padding: 0.5em 2em;
  font-size: 4em;
  color: white;
  text-shadow: 1px 0px 4px #a9a9a9;
  text-transform: uppercase;
}

/*# sourceMappingURL=homePg.css.map */
